@model LanchesMacV1.Models.Lanche

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoDetalhada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLanchePreferido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLanchePreferido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LancheId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
